<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:insert="~{link}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:insert="~{navbar}"></div>
    <br>

    <div layout:fragment="content">
        <div class="container" style="width: 95%; margin: auto; margin-top: 2%;">
            <form th:action="@{'/completeRequest'}" method="get">
                <h2 class="text-center"><b th:if="${reqs.isHandled()==true}" style="color: red">*** Необработанная заявка ***</b><b th:if="${reqs.isHandled()==false}" style="color: green">Обработанная заявка</b></h2>
                <input type="hidden" name="id">
                <div class="mb-3">
                    <label for="name" class="form-label">ФИО : </label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${reqs.getUserName()}" required readonly>
                </div>
                <div class="mb-3">
                    <label for="course" class="form-label">Курс : </label>
                    <select class="form-control" id="course" name="course">
                        <option label="Выберите курс"  selected disabled value="">Выберите курс</option>
                        <option th:value="${reqs.getCourseName()}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон :</label>
                    <input type="text" class="form-control" id="phone" name="phone" th:value="${reqs.getPhone()}" required readonly>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Комментарии :</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" th:text="${reqs.getCommentary()}" required readonly></textarea>
                </div>
                <span th:if="${reqs.isHandled()==true}">
                    <button type="submit" class="btn text-light" style="background-color: #0a7361">Обработать заявку</button>
                </span>
                <button type="button" class="btn btn-danger text-light">Удалить заявку</button>
            </form>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{'/deleteReq'}" method="post">
                            <div class="modal-body">
                                <p>Are you sure?</p>
                                <input type="hidden" name="id" th:value="${reqs.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>